/* Carrusel de imagenes */
.carousel-container {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    overflow: hidden;
}

.carousel-slide {
    display: none;
}

.carousel-slide.active {
    display: block;
}


.carousel-slide .card {
    margin: 0 auto;
    max-width: 600px;
}

.carousel-slide .card img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(37, 99, 235, 0.7);
    color: white;
    border: none;
    padding: 1rem 1.5rem;
    cursor: pointer;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    z-index: 10;
}

.carousel-btn.prev {
    left: 10px;
}

.carousel-btn.next {
    right: 10px;
}

.carousel-dots {
    text-align: center;
    padding: 1.5rem 0 0;
}

.dot {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 5px;
    background-color: #d1d5db;
    border-radius: 50%;
    cursor: pointer;
}

.dot.active,
.dot:hover {
    background-color: #2563eb;
}
